<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1224,711}</string>
                <key>spriteSourceSize</key>
                <string>{1224,711}</string>
                <key>textureRect</key>
                <string>{{723,1283},{1224,711}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1224,720}</string>
                <key>spriteSourceSize</key>
                <string>{1224,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1224,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>背景1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景可随意拉伸铺满.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-scene.jpg</string>
            <key>size</key>
            <string>{2004,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf3417968fe1b804d02e6e768050c693:564f90c3c8127496f0fdeb4020ff0719:f87384b7d6f0c5b36f0d9f41d6292474$</string>
            <key>textureFileName</key>
            <string>beimi-scene.jpg</string>
        </dict>
    </dict>
</plist>
