<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>反馈/玩家反馈框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,143}</string>
                <key>spriteSourceSize</key>
                <string>{677,143}</string>
                <key>textureRect</key>
                <string>{{1874,478},{677,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>反馈/系统回复框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,181}</string>
                <key>spriteSourceSize</key>
                <string>{742,181}</string>
                <key>textureRect</key>
                <string>{{436,434},{742,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>失败角色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,652}</string>
                <key>spriteSourceSize</key>
                <string>{433,652}</string>
                <key>textureRect</key>
                <string>{{1,434},{433,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,459}</string>
                <key>spriteSourceSize</key>
                <string>{363,459}</string>
                <key>textureRect</key>
                <string>{{1400,478},{363,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>牌局结束/base_loser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,448}</string>
                <key>spriteSourceSize</key>
                <string>{270,448}</string>
                <key>textureRect</key>
                <string>{{1128,436},{270,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌局结束/base_winner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,448}</string>
                <key>spriteSourceSize</key>
                <string>{270,448}</string>
                <key>textureRect</key>
                <string>{{1424,843},{270,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>玻璃底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,431}</string>
                <key>spriteSourceSize</key>
                <string>{792,431}</string>
                <key>textureRect</key>
                <string>{{1,1},{792,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,514}</string>
                <key>spriteSourceSize</key>
                <string>{475,514}</string>
                <key>textureRect</key>
                <string>{{1449,1},{475,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>背景/龙纹居中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,506}</string>
                <key>spriteSourceSize</key>
                <string>{507,506}</string>
                <key>textureRect</key>
                <string>{{619,436},{507,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>角色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,652}</string>
                <key>spriteSourceSize</key>
                <string>{433,652}</string>
                <key>textureRect</key>
                <string>{{795,1},{433,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>邮件/mail_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,190}</string>
                <key>spriteSourceSize</key>
                <string>{803,190}</string>
                <key>textureRect</key>
                <string>{{619,944},{803,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-other.png</string>
            <key>size</key>
            <string>{2018,1177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f1630dc69c07b044bf950805db924f:f3fb223bbcb1d250bdf866e6f0c75d26:7d73853446155a252d65ac9b699855d7$</string>
            <key>textureFileName</key>
            <string>beimi-other.png</string>
        </dict>
    </dict>
</plist>
