<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1158,544}</string>
                <key>spriteSourceSize</key>
                <string>{1158,544}</string>
                <key>textureRect</key>
                <string>{{1,1},{1158,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{871,504}</string>
                <key>spriteSourceSize</key>
                <string>{871,504}</string>
                <key>textureRect</key>
                <string>{{1,1036},{871,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{871,504}</string>
                <key>spriteSourceSize</key>
                <string>{871,504}</string>
                <key>textureRect</key>
                <string>{{874,1036},{871,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{894,497}</string>
                <key>spriteSourceSize</key>
                <string>{894,497}</string>
                <key>textureRect</key>
                <string>{{1161,1},{894,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>base4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{923,487}</string>
                <key>spriteSourceSize</key>
                <string>{923,487}</string>
                <key>textureRect</key>
                <string>{{1,547},{923,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-bg.png</string>
            <key>size</key>
            <string>{1746,1541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:255cd470343149de24f394a142506c32:9333791423e9b6e4f05ba3c5d2b01ba1:0cda84aab277e34ecd35a3efb5ead0dc$</string>
            <key>textureFileName</key>
            <string>beimi-bg.png</string>
        </dict>
    </dict>
</plist>
