<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,492}}</string>
                <key>sourceSize</key>
                <string>{530,492}</string>
            </dict>
            <key>chat_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{266,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,50}}</string>
                <key>sourceSize</key>
                <string>{266,50}</string>
            </dict>
            <key>chat_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{263,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,50}}</string>
                <key>sourceSize</key>
                <string>{263,50}</string>
            </dict>
            <key>chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,338},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>chat_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{334,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,50}}</string>
                <key>sourceSize</key>
                <string>{334,50}</string>
            </dict>
            <key>chat_list_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{465,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,4}}</string>
                <key>sourceSize</key>
                <string>{465,4}</string>
            </dict>
            <key>chat_text_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,315},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>chat_text_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,270},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>emoji_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{266,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,50}}</string>
                <key>sourceSize</key>
                <string>{266,50}</string>
            </dict>
            <key>emoji_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{263,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,50}}</string>
                <key>sourceSize</key>
                <string>{263,50}</string>
            </dict>
            <key>emoji_text_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,315},{100,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>emoji_text_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,315},{100,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{800,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b4371f7db34b178b5914cd2d8fa6863:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
