<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>creatroom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,10},{192,68}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,86}</string>
            </dict>
            <key>creatroom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,10},{165,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,46}}</string>
                <key>sourceSize</key>
                <string>{165,46}</string>
            </dict>
            <key>creatroom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,58},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>creatroom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,58},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>creatroom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,10},{165,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,46}}</string>
                <key>sourceSize</key>
                <string>{165,46}</string>
            </dict>
            <key>creatroom14.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,58},{163,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,46}}</string>
                <key>sourceSize</key>
                <string>{163,46}</string>
            </dict>
            <key>creatroom15.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,58},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>creatroom16.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,10},{165,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,46}}</string>
                <key>sourceSize</key>
                <string>{165,46}</string>
            </dict>
            <key>creatroom17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,10},{165,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,46}}</string>
                <key>sourceSize</key>
                <string>{165,46}</string>
            </dict>
            <key>creatroom18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1129,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1129,6}}</string>
                <key>sourceSize</key>
                <string>{1129,6}</string>
            </dict>
            <key>creatroom19.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,80},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>creatroom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,10},{192,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,86}}</string>
                <key>sourceSize</key>
                <string>{192,86}</string>
            </dict>
            <key>creatroom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,10},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>creatroom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,80},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>creatroom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,80},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>creatroom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,80},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>creatroom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,58},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>creatroom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,58},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>creatroom9.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,58},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createroom.png</string>
            <key>size</key>
            <string>{1133,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40cc9360b61f37d195edcaf735eab404:1/1$</string>
            <key>textureFileName</key>
            <string>createroom.png</string>
        </dict>
    </dict>
</plist>
