<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_game107.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,453},{152,138}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{152,138}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,156},{158,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>lobby_game13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,731},{150,144}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{150,144}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game15.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,302},{156,142}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{156,142}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game16.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,446},{152,148}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{152,148}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game224.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{160,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{160,152}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,154}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{150,150}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,150}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game32.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,158},{156,142}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{156,142}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{156,144}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{156,144}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{150,142}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{150,142}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game62.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{158,154}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game62000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{154,144}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{154,144}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>lobby_game69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{156,146}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{156,146}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>lobby_game79000.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,596},{150,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{150,144}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>lobby_game82.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,312},{155,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,139}}</string>
                <key>sourceSize</key>
                <string>{155,139}</string>
            </dict>
            <key>lobby_game98.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,593},{152,136}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{152,136}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobbyGameIcon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58eea3e1f43453a4908335a1c6b9fa7a$</string>
            <key>textureFileName</key>
            <string>lobbyGameIcon.png</string>
        </dict>
    </dict>
</plist>
