<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alarm_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>banker_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,137},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>btn_back_sala.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>btn_dismiss_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>btn_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,203},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>btn_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{130,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,134}}</string>
                <key>sourceSize</key>
                <string>{130,134}</string>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,195},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>btn_weixin_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,48},{304,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,70}}</string>
                <key>sourceSize</key>
                <string>{304,70}</string>
            </dict>
            <key>btn_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,120},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>decision_sign_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,143},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>decision_sign_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,120},{122,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>decision_sign_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,134},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>decision_sign_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{184,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,126}}</string>
                <key>sourceSize</key>
                <string>{184,126}</string>
            </dict>
            <key>dismiss_room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,46}}</string>
                <key>sourceSize</key>
                <string>{233,46}</string>
            </dict>
            <key>fan_pao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,212},{87,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>headallbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,138},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>headbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,134},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>laizi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,48},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>mahjong_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{484,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,44}}</string>
                <key>sourceSize</key>
                <string>{484,44}</string>
            </dict>
            <key>msg_bubble_btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,188},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>msg_bubble_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,137},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>msg_bubble_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,179},{71,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,52}}</string>
                <key>sourceSize</key>
                <string>{71,52}</string>
            </dict>
            <key>msg_bubble_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,48},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>msg_set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{175,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,73}}</string>
                <key>sourceSize</key>
                <string>{175,73}</string>
            </dict>
            <key>off_line_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,212},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>outmjtile_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,212},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>ready_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,179},{62,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>speaker1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>timebk.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,212},{104,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,38}}</string>
                <key>sourceSize</key>
                <string>{104,38}</string>
            </dict>
            <key>turn_pos_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,138},{28,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,110}}</string>
                <key>sourceSize</key>
                <string>{28,110}</string>
            </dict>
            <key>turn_pos_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,138},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>turn_pos_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,138},{28,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,110}}</string>
                <key>sourceSize</key>
                <string>{28,110}</string>
            </dict>
            <key>turn_pos_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,212},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>turn_pos_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>voice_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,120},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play_scene.png</string>
            <key>size</key>
            <string>{1710,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3966f72e1768cd4227d618068da6b6c:1/1$</string>
            <key>textureFileName</key>
            <string>play_scene.png</string>
        </dict>
    </dict>
</plist>
