<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupScene1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,801},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>PopupScene14.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,857},{228,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,54}}</string>
                <key>sourceSize</key>
                <string>{228,54}</string>
            </dict>
            <key>PopupScene15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,945},{226,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,54}}</string>
                <key>sourceSize</key>
                <string>{226,54}</string>
            </dict>
            <key>PopupScene16.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,722},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>PopupScene17.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,826},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
            <key>PopupScene18.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1024},{196,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,54}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>PopupScene19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>PopupScene2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,722},{288,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,77}}</string>
                <key>sourceSize</key>
                <string>{288,77}</string>
            </dict>
            <key>PopupScene20.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1942},{227,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,56}}</string>
                <key>sourceSize</key>
                <string>{227,56}</string>
            </dict>
            <key>PopupScene21.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,913},{226,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,55}}</string>
                <key>sourceSize</key>
                <string>{226,55}</string>
            </dict>
            <key>PopupScene22.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,880},{98,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,47}}</string>
                <key>sourceSize</key>
                <string>{98,47}</string>
            </dict>
            <key>PopupScene23.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,970},{224,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{224,52}}</string>
                <key>sourceSize</key>
                <string>{230,54}</string>
            </dict>
            <key>PopupScene3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1270,718}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1270,718}}</string>
                <key>sourceSize</key>
                <string>{1270,718}</string>
            </dict>
            <key>PopupScene5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,878},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PopupScene6.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,722},{1218,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1218,76}}</string>
                <key>sourceSize</key>
                <string>{1218,76}</string>
            </dict>
            <key>PopupScene7.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,770},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>PopupScene8.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,801},{230,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,54}}</string>
                <key>sourceSize</key>
                <string>{230,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PopupScene.png</string>
            <key>size</key>
            <string>{1274,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24fcdf2d80ac59ef1c17c0fef3c2bd96:1/1$</string>
            <key>textureFileName</key>
            <string>PopupScene.png</string>
        </dict>
    </dict>
</plist>
