<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_autumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,886},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,771},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,656},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,618},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,618},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,618},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,541},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,541},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,541},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,541},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,464},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,464},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,464},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,387},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,387},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_chrysanthemum.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,387},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,310},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,310},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,310},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,233},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,233},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,233},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,156},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_orchid.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,156},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_plum.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,156},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,79},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,79},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,79},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_wind_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_wind_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_wind_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_wind_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_winter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_my.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7ef80278e5ae8681955b79d8223d113:1/1$</string>
            <key>textureFileName</key>
            <string>Z_my.png</string>
        </dict>
    </dict>
</plist>
