<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>angry0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,331},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,116}</string>
			</dict>
			<key>angry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,152},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,116}</string>
			</dict>
			<key>angry2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,0},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,116}</string>
			</dict>
			<key>angry3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,804},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,116}</string>
			</dict>
			<key>angry4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,650},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,116}</string>
			</dict>
			<key>angry5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,447},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,116}</string>
			</dict>
			<key>angry6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,268},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,116}</string>
			</dict>
			<key>angry7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,116},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,116}</string>
			</dict>
			<key>fennu0.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,0},{108,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,140}</string>
			</dict>
			<key>fennu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,758},{108,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,140}</string>
			</dict>
			<key>fennu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,633},{108,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,140}</string>
			</dict>
			<key>han0.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,898},{115,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,129}</string>
			</dict>
			<key>han1.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,741},{115,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,129}</string>
			</dict>
			<key>happy0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,683},{111,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,121}</string>
			</dict>
			<key>happy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,529},{111,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,121}</string>
			</dict>
			<key>huaixiao0.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,258},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>huaixiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,383},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>huaixiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,258},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>huaixiao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,508},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>huaixiao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,633},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>huaixiao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,383},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>huaixiao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,508},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>huaixiao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>huaixiao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,125},{125,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,124}</string>
			</dict>
			<key>jiong0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{147,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,135}</string>
			</dict>
			<key>jiong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{147,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,135}</string>
			</dict>
			<key>jiong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,294},{147,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,135}</string>
			</dict>
			<key>jiong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,441},{147,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,135}</string>
			</dict>
			<key>jiong4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{147,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,135}</string>
			</dict>
			<key>jiong5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,735},{147,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,135}</string>
			</dict>
			<key>lihai0.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,197},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,89},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,581},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai11.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,581},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai12.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,733},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,441},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,349},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,179},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,179},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,0},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,531},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,531},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>lihai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,439},{90,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,152}</string>
			</dict>
			<key>se0.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,108},{89,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,158}</string>
			</dict>
			<key>se1.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,0},{89,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,158}</string>
			</dict>
			<key>se2.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,492},{89,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,158}</string>
			</dict>
			<key>se3.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,352},{89,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,158}</string>
			</dict>
			<key>shaoxiang0.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,760},{121,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,127}</string>
			</dict>
			<key>shaoxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,760},{121,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,127}</string>
			</dict>
			<key>shaoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,250},{121,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,127}</string>
			</dict>
			<key>shaoxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,0},{121,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,127}</string>
			</dict>
			<key>shaoxiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,127},{121,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,127}</string>
			</dict>
			<key>shihua0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,0},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>shihua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,766},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>shihua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,882},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>shihua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,563},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>shihua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,384},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>shihua5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,232},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>sleep0.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,486},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>sleep1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,623},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>sleep2.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,881},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>sleep3.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,881},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>sleep4.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,0},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>sleep5.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,137},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>sleep6.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,274},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>sleep7.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,411},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>sleep8.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,548},{133,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>smaile0.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,870},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>smaile1.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,741},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>smaile2.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,863},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>smaile3.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,377},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>smaile4.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,248},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>smaile5.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,108},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>smaile6.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,499},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>smaile7.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,370},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>smaile8.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,230},{122,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,121}</string>
			</dict>
			<key>touxiang0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{162,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,116}</string>
			</dict>
			<key>touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,0},{162,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,116}</string>
			</dict>
			<key>touxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,162},{162,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,116}</string>
			</dict>
			<key>touxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,324},{162,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,116}</string>
			</dict>
			<key>yun0.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,685},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,129}</string>
			</dict>
			<key>yun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,814},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,129}</string>
			</dict>
			<key>yun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,129}</string>
			</dict>
			<key>yun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,129},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,129}</string>
			</dict>
			<key>zhiya0.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,823},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>zhiya1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,823},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>emoji_action_texture.png</string>
			<key>realTextureFileName</key>
			<string>emoji_action_texture.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>