<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_mj_b_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,63},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>e_mj_b_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,181},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>e_mj_b_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>e_mj_b_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>e_mj_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,190},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>e_mj_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>e_mj_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,129},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>e_mj_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,124},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>e_mj_v_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,125}}</string>
                <key>sourceSize</key>
                <string>{83,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjEmpty.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b073959926c476be73d0646c81785453:1/1$</string>
            <key>textureFileName</key>
            <string>mjEmpty.png</string>
        </dict>
    </dict>
</plist>
